name: Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          path: "src"

      - name: Checkout builds
        uses: actions/checkout@master
        with:
          ref: "builds"
          path: "builds"

      - name: Checkout Aliucord
        uses: actions/checkout@master
        with:
          repository: "Aliucord/Aliucord"
          path: "repo"

      - name: Setup JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Setup
        run: |
          echo "$ANDROID_HOME/build-tools/30.0.3" >> $GITHUB_PATH
          mkdir -p ~/bin
          wget https://github.com/Aliucord/buildtool/releases/latest/download/buildtool -P ~/bin
          chmod +x ~/bin/buildtool
          chmod +x $GITHUB_WORKSPACE/src/gradlew
          jq \
            --arg ALIUCORD "$GITHUB_WORKSPACE/repo" \
            --arg PLUGINS "$GITHUB_WORKSPACE/src" \
            --arg SDK "$ANDROID_HOME" \
            --arg OUTPUT_PLUGINS "$GITHUB_WORKSPACE/builds" \
            '{
              aliucord: $ALIUCORD,
              plugins: $PLUGINS,
              androidSDK: $SDK,
              androidSDKVersion: "30",
              outputsPlugins: $OUTPUT_PLUGINS
            }' <<< "{}" > ~/config.json

      - name: Build Plugins
        run: ~/bin/buildtool --config ~/config.json -p \*

      - name: Push builds
        run: |
          cd $GITHUB_WORKSPACE/builds
          cp ../src/updater.json .
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add *
          git commit -m "Build $GITHUB_SHA"
          git push

